@font-face {
    font-family: "ABBVoice";
    src: url("../fonts/ABBvoice_W_Rg-3gwTF.woff2") format('woff2');
}

body {
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}

div {
  font-family: ABBVoice, Arial, sans-serif
}

#threedapp {
  position: relative;
  width: 100%;
  height: 100%;
}

#abb_bar {
  position: relative;
  height: 24px;
  width: 100%;
  background-color: black;
  align-items: center;
}

#abb_navi {
  background-color: white;
  font-family: ABBVoice, Arial, sans-serif;
  width: 30%;
  color: #dbdbdb;
  margin: 14px;
}

.cesium-geocoder-input {
  font-family: ABBVoice, Arial, sans-serif;
  padding: 8px;
  color: #1f1f1f;
  width: 100%;
  height: 30px;
}

.cesium-geocoder-searchButton {
  background-color: #303336;
  display: inline-block;
  position: absolute;
  cursor: pointer;
  width: 32px;
  top: 1px;
  right: 1px;
  height: 30px;
  vertical-align: middle;
  fill: #edffff;
}

.abb_product_name {
  position: relative;
  color: #dbdbdb;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

#map_container {
  position: relative;
  width: 100%;
  height: 100%;
}

#cesiumContainer {
  position: relative;
  width: 100%;
}

#shading {
  position: absolute;
  top: 70px;
  background-color: rgba(100, 100, 100, 0.7);
  width: 190px;
  padding: 5px;
  right: 10px;
}

#models {
  position: absolute;
  top: 140px;
  width: 190px;
  background-color: rgba(100, 100, 100, 0.7);
  padding: 5px;
  right: 10px;
}

#network {
  position: absolute;
  top: 210px;
  width: 190px;
  background-color: rgba(100, 100, 100, 0.7);
  padding: 5px;
  right: 10px;
}

#assetHealth {
  position: absolute;
  top: 280px;
  width: 190px;
  background-color: rgba(100, 100, 100, 0.7);
  padding: 5px;
  right: 10px;
}

.lidarstyle {
  color: rgba(255, 255, 255, 1.0);
}

.modelstyle {
  color: rgba(255, 255, 255, 1.0);
}

.Input__root___CQfbL {
  position: relative;
  text-align: left;
  display: inline-block;
  font-size: 14px;
  width: 100%; }

.Input__root___CQfbL > .Input__label___2_moX {
  font-weight: 400;
  display: block; }

.Input__root___CQfbL > .Input__label___2_moX > .Input__requiredAsterisk___BWJYe {
  margin-right: 8px; }

.Input__root___CQfbL > .Input__inputWrapper___3GbBm {
  position: relative;
  height: 32px;
  display: inline-block;
  width: 100%; }

.Input__root___CQfbL > .Input__inputWrapper___3GbBm > input {
  height: 100%;
  width: 100%;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 500;
  text-overflow: ellipsis; }

.Input__root___CQfbL > .Input__inputWrapper___3GbBm > input:not(:disabled)::-webkit-input-placeholder {
  opacity: .5; }

.Input__root___CQfbL > .Input__inputWrapper___3GbBm > input:not(:disabled)::-ms-input-placeholder {
  opacity: .5; }

.Input__root___CQfbL > .Input__inputWrapper___3GbBm > input:not(:disabled)::placeholder {
  opacity: .5; }

.Input__root___CQfbL > .Input__iconWrapper___2buPC {
  position: absolute;
  margin-left: -30px;
  margin-top: 8px; }

.Input__root___CQfbL.Input__hasIcon___29KOG > .Input__inputWrapper___3GbBm > input {
  padding-right: 40px; }

.Input__root___CQfbL > .Input__validationIconWrapper___30Eqn {
  position: absolute;
  margin-left: 5px;
  margin-top: 0;
  padding-top: 2px;
  height: 30px; }

.Input__root___CQfbL.Input__isValid___2bjbr > .Input__validationMessageContainer___3dDhm > .Input__validationIconWrapper___30Eqn > * {
  color: #5cbe85; }

.Input__root___CQfbL.Input__isInvalid___y9NDq > .Input__validationMessageContainer___3dDhm > .Input__validationIconWrapper___30Eqn > * {
  color: #f03040; }

.Input__root___CQfbL > .Input__validationMessageContainer___3dDhm.Input__hidden___34QHT {
  opacity: 0; }

.Input__root___CQfbL > .Input__validationMessageContainer___3dDhm {
  display: flex;
  flex-direction: row;
  margin-top: 3px;
  color: #525252; }

.Input__root___CQfbL > .Input__validationMessageContainer___3dDhm > .Input__validationIconWrapper___30Eqn {
  color: #f03040;
  margin-right: 6px; }

.Input__root___CQfbL > .Input__validationMessageContainer___3dDhm > .Input__validationMessage___3uZfU {
  font-weight: 500;
  font-size: 12px; }

.Input__root___CQfbL > .Input__inputWrapper___3GbBm:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: transparent; }

.Input__root___CQfbL.Input__isValid___2bjbr.Input__showValidationResult___1YRVC > .Input__inputWrapper___3GbBm:after {
  background: #5cbe85; }

.Input__root___CQfbL.Input__hasChanged___37StS > .Input__inputWrapper___3GbBm:after {
  background: #0052ff; }

.Input__root___CQfbL.Input__isInvalid___y9NDq.Input__showValidationResult___1YRVC > .Input__inputWrapper___3GbBm:after {
  background: #f03040; }

.Input__root___CQfbL.Input__normal___2ShNA > .Input__inputWrapper___3GbBm > input:disabled {
  opacity: .5; }

.Input__root___CQfbL.Input__normal___2ShNA > .Input__inputWrapper___3GbBm > input:focus {
  outline: none; }

.Input__root___CQfbL.Input__light___36HZ6 > .Input__iconWrapper___2buPC, .Input__root___CQfbL.Input__light___36HZ6 > .Input__label___2_moX {
  color: #686868; }

.Input__root___CQfbL.Input__light___36HZ6.Input__normal___2ShNA > .Input__inputWrapper___3GbBm > input {
  background: #fff;
  color: #1f1f1f;
  border: 1px solid #bababa; }

.Input__root___CQfbL.Input__light___36HZ6.Input__normal___2ShNA > .Input__inputWrapper___3GbBm > input:disabled {
  background-color: #ebebeb; }

.Input__root___CQfbL.Input__light___36HZ6.Input__normal___2ShNA > .Input__inputWrapper___3GbBm > input:focus, .Input__root___CQfbL.Input__light___36HZ6.Input__normal___2ShNA > .Input__inputWrapper___3GbBm > input:hover {
  background-color: #ebebeb;
  border: 1px solid #9f9f9f; }

.Input__root___CQfbL.Input__dark___3a0EO > .Input__iconWrapper___2buPC, .Input__root___CQfbL.Input__dark___3a0EO > .Input__label___2_moX {
  color: #848484; }

.Input__root___CQfbL.Input__dark___3a0EO.Input__normal___2ShNA > .Input__inputWrapper___3GbBm > input {
  background: #1f1f1f;
  color: #dbdbdb;
  border: 1px solid #525252; }

.Input__root___CQfbL.Input__dark___3a0EO.Input__normal___2ShNA > .Input__inputWrapper___3GbBm > input:disabled {
  background-color: #1f1f1f; }

.Input__root___CQfbL.Input__dark___3a0EO.Input__normal___2ShNA > .Input__inputWrapper___3GbBm > input:focus, .Input__root___CQfbL.Input__dark___3a0EO.Input__normal___2ShNA > .Input__inputWrapper___3GbBm > input:hover {
  background-color: #3d3d3d;
  border: 1px solid #686868; }

  .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

#visibilityToggles {
  position: absolute;
  top: 70px;
  width: 190px;
  height: 155px;
  background-color: rgba(100, 100, 100, 0.7);
  padding: 5px;
  right: 10px;
}

.toggle_label {
  position: relative;
  font-family: ABBVoice, Arial, sans-serif;
  left: 5px;
  padding: 9px;
  color: white;
  width: 100px;
  text-align: left;
}

#lidar_visibility {
  top: 5px;
  position: absolute;
  width: 50px;
  right: 5px;
  padding: 5px;
}

#model_visibility {
  top: 45px;
  position: absolute;
  width: 50px;
  right: 5px;
  padding: 5px;
}

#network_visibility {
  top: 85px;
  position: absolute;
  width: 50px;
  right: 5px;
  padding: 5px;
}

#health_visibility {
  top: 125px;
  position: absolute;
  width: 50px;
  right: 5px;
  padding: 5px;
}

.visibility_switch input {
  top: 0px;
  opacity: 0;
  width: 0;
  height: 0;
}

.visibility_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.visibility_slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .visibility_slider {
  background-color: #2196F3;
}

input:focus + .visibility_slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .visibility_slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.visibility_slider.round {
  border-radius: 34px;
}

.visibility_slider.round:before {
  border-radius: 50%;
}
